html {
  color: #333;
  background: #f0f0f0;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  margin: 0;
  padding: 0;
  font: 14px/1.5 "Microsoft Yahei", SimSun, Arial, sans-serif;
  line-height: 24px;
  overflow-x: hidden;
}
ol,
ul {
  list-style: none;
}
a:link {
  text-decoration: none;
}
a:hover {
  color: #49b849;
}
* {
  transition: all 0.2s;
}
@font-face {
  font-family: 'iconfont';
  /* project id 291668 */
  src: url('//at.alicdn.com/t/font_pg11j1yh30izfr.eot');
  src: url('//at.alicdn.com/t/font_pg11j1yh30izfr.eot?#iefix') format('embedded-opentype'), url('//at.alicdn.com/t/font_pg11j1yh30izfr.woff') format('woff'), url('//at.alicdn.com/t/font_pg11j1yh30izfr.ttf') format('truetype'), url('//at.alicdn.com/t/font_pg11j1yh30izfr.svg#iconfont') format('svg');
}
.iconfont {
  font-family: "iconfont";
  font-style: normal;
}
.panel {
  background: #fff;
  padding: 20px;
}
.iconbtn {
  float: right;
  padding: 0 15px;
  color: #999;
}
.iconbtn span {
  margin-left: 20px;
}
.iconbtn .iconfont {
  font-size: 14px;
  margin-right: 5px;
}
