html {
  color: #333;
  background: #f0f0f0;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
hr,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  margin: 0;
  padding: 0;
}
body,
input,
select,
textarea {
  font: 14px/1.5 "Microsoft Yahei", SimSun, Arial, sans-serif;
  line-height: 24px;
}
input,
select,
textarea {
  font-size: 100%;
}
textarea {
  resize: vertical;
  overflow: auto;
  vertical-align: top;
}
input[type="text"]:focus,
input[type="password"]:focus,
textarea:focus {
  border-color: #4B88E6;
  outline: none;
  transition: border-color 0.1s;
}
a:focus,
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
input,
select,
textarea {
  vertical-align: baseline;
  *vertical-align: middle;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  vertical-align: middle;
  *height: 13px;
  *width: 13px;
}
input[type="search"] {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset;
  -webkit-text-fill-color: #333;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
th {
  text-align: inherit;
}
fieldset,
img {
  border: 0;
}
iframe {
  display: block;
}
abbr,
acronym {
  border: 0;
  font-variant: normal;
}
del {
  text-decoration: line-through;
}
address,
caption,
cite,
code,
dfn,
em,
th,
var,
i {
  font-style: normal;
  font-weight: 500;
}
ol,
ul {
  list-style: none;
}
caption,
th {
  text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: 500;
}
q:before,
q:after {
  content: '';
}
select {
  vertical-align: middle;
}
.unselect {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
a:link {
  text-decoration: none;
}
a:hover {
  color: #3ccdb1;
}
* {
  transition: all 0.2s;
}
@font-face {
  font-family: 'iconfont';
  /* project id 291668 */
  src: url('//at.alicdn.com/t/font_jm9s5g13udfv42t9.eot');
  src: url('//at.alicdn.com/t/font_jm9s5g13udfv42t9.eot?#iefix') format('embedded-opentype'), url('//at.alicdn.com/t/font_jm9s5g13udfv42t9.woff') format('woff'), url('//at.alicdn.com/t/font_jm9s5g13udfv42t9.ttf') format('truetype'), url('//at.alicdn.com/t/font_jm9s5g13udfv42t9.svg#iconfont') format('svg');
}
.iconfont {
  font-family: "iconfont";
  font-style: normal;
}
.panel {
  background: #fff;
  padding: 20px;
}
.iconbtn {
  float: right;
  padding: 0 15px;
  color: #999;
}
.iconbtn span {
  margin-left: 20px;
}
.iconbtn .iconfont {
  font-size: 14px;
  margin-right: 5px;
}
