@main:#00c06f;
@sub:#ff673e;
@bg:#f0f0f0;


@grey:#999;
@border:#f2f2f2;

// reset
html {
  color: #333;
  background: @bg;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  margin: 0;
  padding: 0;
  font: 14px/1.5 "Microsoft Yahei",SimSun,Arial,sans-serif;
  line-height: 24px;
  overflow-x: hidden;
}
img{
  vertical-align: middle;
}
ol,ul {
  list-style: none;
}

a:link {
  text-decoration: none;
}
a:hover{
  color: @main;
}



// 时间
.time{
  color:@grey;
  font-size: 12px;
}
//过渡动画
*{
    transition:all 0.2s;
}

// 字体图标
@font-face {
  font-family: 'iconfont';  /* project id 291668 */
  src: url('//at.alicdn.com/t/font_jzwm83ookcfvfgvi.eot');
  src: url('//at.alicdn.com/t/font_jzwm83ookcfvfgvi.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_jzwm83ookcfvfgvi.woff') format('woff'),
  url('//at.alicdn.com/t/font_jzwm83ookcfvfgvi.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_jzwm83ookcfvfgvi.svg#iconfont') format('svg');
}
.iconfont {
  font-family: "iconfont";
  font-style: normal; 
}

// 公共面板
.panel{
  background: #fff;
  padding:20px;
}

// 点赞按钮
.iconbtn {
  float: right;
  padding: 0 15px;
  color:#999;
  span{
    margin-left:20px;
  }
  .iconfont{
    font-size: 14px;
    margin-right:5px; 
  }
}
// 班级右边卡片
  .classbox{
    background: #edfff7;
    border:1px solid @main;
    .header{
      height: 88px;
      background: url(../assets/classBg.png) no-repeat;
      img{
        margin-top:40px;
        width: 80px;
        height: 80px;
        border: 3px solid rgba(255, 255, 255, 0.8);
        border-radius: 10px;
      }
    }
  }
    .classInfo {
    // background: @main;
    color: #333;
    text-align: center;
    margin-bottom: 15px;
    .content {
      line-height: 30px;
      font-size: 18px;
      margin:50px 0 10px;
      .info {
        font-size: 14px;
        span{
          margin:0 10px;
        }
      }
    }
  }

  .leftCon{
    border: none;
    min-height: calc(~"100vh - 238px");
    box-shadow:none;
  }