// 公用颜色
@main:#00c06f;
@sub:#ff673e;
@bg:#f0f0f0;
@grey:#999;
@border:#f2f2f2;

// 查看大图弹出框
.bigImg{
  text-align: center;
  line-height: 500px;
  img{
    // min-width: 300px;
    max-width: 100%;
  }
}

// 文字头像样式
.headTextImg{
  background: @main;
  color:#fff;
  width:48px;
  height:48px;
  line-height: 48px;
  text-align: center;
  border-radius: 50%;
  font-size: 22px;
}


// 时间
.time{
  color:@grey;
  font-size: 12px;
}

//过渡动画
// *{
//     transition:all 0.2s;
// }

// 字体图标
@font-face {
  font-family: 'iconfont';  /* project id 291668 */
  src: url('//at.alicdn.com/t/font_291668_0e9rivjv7xgh9f6r.eot');
  src: url('//at.alicdn.com/t/font_291668_0e9rivjv7xgh9f6r.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_291668_0e9rivjv7xgh9f6r.woff') format('woff'),
  url('//at.alicdn.com/t/font_291668_0e9rivjv7xgh9f6r.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_291668_0e9rivjv7xgh9f6r.svg#iconfont') format('svg');
}
.iconfont {
  font-family: "iconfont";
  font-style: normal; 
}

// 公共面板
.panel{
  background: #fff;
  padding:20px;
  box-sizing:border-box;
}

// 点赞按钮
.iconbtn {
  float: right;
  padding: 0 15px;
  color:#999;
  span{
    margin-left:20px;
  }
  .iconfont{
    font-size: 14px;
    margin-right:5px; 
  }
}
// 班级右边卡片
  .classbox{
    background: #edfff7;
    border:1px solid @main;
    .header{
      height: 88px;
      background: url(../assets/classBg.png) no-repeat;
      img{
        margin-top:40px;
        width: 80px;
        height: 80px;
        border: 3px solid rgba(255, 255, 255, 0.8);
        border-radius: 10px;
      }
    }
  }
    .classInfo {
    // background: @main;
    color: #333;
    text-align: center;
    margin-bottom: 15px;
    .content {
      line-height: 30px;
      font-size: 18px;
      margin:50px 0 10px;
      .info {
        font-size: 14px;
        span{
          margin:0 10px;
        }
      }
    }
  }

  .leftCon{
    border: none;
    min-height: calc(~"100vh - 238px");
    box-shadow:none;
  }

  .el-upload--picture-card{
    width: 80px;
    height: 80px;
    line-height: 80px;
    border-radius:0;
    i{
      line-height: 80px;
      font-size: 20px;
    }
  }
  .el-upload-list--picture-card .el-upload-list__item{
    width: 80px;
    height: 80px;
  }
  .avatar-uploader{
    .avatar-uploader-icon{
      width: 80px;
      height: 80px;
      line-height: 80px;
    }
    
    img.avatar{
      width: 64px;
      height: 64px;
      background: transparent;
    }
  }

// 模块标题
.maintitle {
  border-bottom: 1px solid @border;
  font-size: 20px;
  line-height: 50px;
  padding:10px 20px 0;
  position: relative;
  .iconfont{
    color: @main;
    margin-right: 8px;
  }
  .goreturn {
    position: absolute;
    top: 6px;
    right: 20px;
  }
}

// style reset
html {
  color: #333;
  background: @bg;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  margin: 0;
  padding: 0;
  font: 14px/1.5 "Microsoft Yahei",SimSun,Arial,sans-serif;
  line-height: 24px;
  overflow-x: hidden;
}
img{
  vertical-align: middle;
  background: #fff;
}
ol,ul {
  list-style: none;
}

a{
  cursor: pointer;
}
a:link {
  text-decoration: none;
}
a:hover{
  color: @main;
}

.el-button.is-plain:focus, .el-button.is-plain:hover{
  background: transparent;
}

.nodata{
  min-height: 600px;
  text-align: center;
  line-height: 600px;
}